packages/node-red-contrib-tafy/examples/motor-teleop-flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Motor Teleop Demo",
    "disabled": false,
    "info": "Demo flow for controlling differential drive motors via NATS"
  },
  {
    "id": "inject1",
    "type": "inject",
    "z": "flow1",
    "name": "Forward",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"linear_meters_per_sec\": 0.5, \"angular_rad_per_sec\": 0}",
    "payloadType": "json",
    "x": 120,
    "y": 100,
    "wires": [["hal1"]]
  },
  {
    "id": "inject2",
    "type": "inject",
    "z": "flow1",
    "name": "Rotate Left",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"linear_meters_per_sec\": 0, \"angular_rad_per_sec\": 1.0}",
    "payloadType": "json",
    "x": 130,
    "y": 160,
    "wires": [["hal1"]]
  },
  {
    "id": "inject3",
    "type": "inject",
    "z": "flow1",
    "name": "Stop",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"linear_meters_per_sec\": 0, \"angular_rad_per_sec\": 0}",
    "payloadType": "json",
    "x": 110,
    "y": 220,
    "wires": [["hal1"]]
  },
  {
    "id": "hal1",
    "type": "function",
    "z": "flow1",
    "name": "HAL Envelope",
    "func": "// Create HAL envelope for motor command\nconst envelope = {\n    hal_major: 1,\n    hal_minor: 0,\n    schema: \"tafylabs/hal/motor/differential/1.0\",\n    device_id: \"esp32-test\",  // TODO: Get from device registry\n    caps: [\"motor.differential:v1.0\"],\n    ts: new Date().toISOString(),\n    payload: msg.payload\n};\n\nmsg.payload = envelope;\nmsg.topic = \"hal.v1.motor.cmd\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 160,
    "wires": [["mqtt1", "debug1"]]
  },
  {
    "id": "mqtt1",
    "type": "mqtt out",
    "z": "flow1",
    "name": "NATS Pub",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "nats1",
    "x": 560,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug1",
    "type": "debug",
    "z": "flow1",
    "name": "Command Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt2",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Motor Telemetry",
    "topic": "hal.v1.motor.telemetry.>",
    "qos": "2",
    "datatype": "json",
    "broker": "nats1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 340,
    "wires": [["debug2", "ui1"]]
  },
  {
    "id": "debug2",
    "type": "debug",
    "z": "flow1",
    "name": "Telemetry Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 370,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui1",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Linear Speed",
    "group": "motor1",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Linear Speed (m/s)",
    "label": "m/s",
    "format": "{{msg.payload.payload.actual_linear_meters_per_sec | number:2}}",
    "min": "-1",
    "max": "1",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 370,
    "y": 400,
    "wires": []
  },
  {
    "id": "nats1",
    "type": "mqtt-broker",
    "name": "NATS",
    "broker": "nats.tafy-system.svc.cluster.local",
    "port": "4222",
    "clientid": "node-red",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true
  },
  {
    "id": "motor1",
    "type": "ui_group",
    "name": "Motor Control",
    "tab": "dash1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dash1",
    "type": "ui_tab",
    "name": "Tafy Robot",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]