packages/node-red-contrib-tafy/examples/obstacle-avoidance.json
[
    {
        "id": "f3",
        "type": "tab",
        "label": "Obstacle Avoidance",
        "disabled": false,
        "info": "Autonomous obstacle avoidance using distance sensors"
    },
    {
        "id": "fusion1",
        "type": "tafy-sensor-fusion",
        "z": "f3",
        "name": "Sensor Fusion",
        "sensors": [
            {"id": "tof_front", "position": "front", "weight": 1.0, "offset": 0, "scale": 1.0},
            {"id": "tof_left", "position": "left", "weight": 0.8, "offset": 0, "scale": 1.0},
            {"id": "tof_right", "position": "right", "weight": 0.8, "offset": 0, "scale": 1.0}
        ],
        "fusionMethod": "weighted",
        "outputFormat": "unified",
        "timeout": 1000,
        "updateRate": 100,
        "x": 350,
        "y": 200,
        "wires": [["avoid1", "debug1", "chart1"]]
    },
    {
        "id": "avoid1",
        "type": "tafy-obstacle-avoid",
        "z": "f3",
        "name": "Obstacle Avoidance",
        "mode": "advanced",
        "stopDistance": 20,
        "slowDistance": 50,
        "turnThreshold": 35,
        "backupDistance": 15,
        "turnDirection": "auto",
        "maxSpeed": 0.6,
        "turnSpeed": 0.4,
        "sensorTimeout": 500,
        "x": 550,
        "y": 200,
        "wires": [["switch1"]]
    },
    {
        "id": "switch1",
        "type": "switch",
        "z": "f3",
        "name": "Route Commands",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {"t": "neq", "v": "clear", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 200,
        "wires": [["motor1", "status1"]]
    },
    {
        "id": "motor1",
        "type": "function",
        "z": "f3",
        "name": "HAL Motor Command",
        "func": "// Convert avoidance command to HAL format\nconst cmd = msg.payload;\n\nconst halCommand = {\n    hal_major: 1,\n    hal_minor: 0,\n    schema: 'tafylabs/hal/motor/differential/1.0',\n    device_id: 'robot-main',\n    caps: ['motor.differential:v1.0'],\n    ts: new Date().toISOString(),\n    payload: {\n        left_speed: cmd.left || 0,\n        right_speed: cmd.right || 0,\n        duration_ms: 200, // Short duration for safety\n        source: 'obstacle_avoidance'\n    }\n};\n\nreturn {\n    payload: halCommand,\n    topic: 'hal.v1.motor.cmd'\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 200,
        "wires": [["nats1"]]
    },
    {
        "id": "nats1",
        "type": "tafy-nats-pub",
        "z": "f3",
        "name": "NATS Publish",
        "server": "",
        "subject": "hal.v1.motor.cmd",
        "subjectType": "str",
        "x": 1160,
        "y": 200,
        "wires": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "f3",
        "name": "Simulate Front Sensor",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/tof_front",
        "payload": "$random() * 50 + 20",
        "payloadType": "jsonata",
        "x": 150,
        "y": 100,
        "wires": [["fusion1"]]
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "f3",
        "name": "Simulate Left Sensor",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/tof_left",
        "payload": "$random() * 80 + 40",
        "payloadType": "jsonata",
        "x": 150,
        "y": 160,
        "wires": [["fusion1"]]
    },
    {
        "id": "inject3",
        "type": "inject",
        "z": "f3",
        "name": "Simulate Right Sensor",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/tof_right",
        "payload": "$random() * 80 + 40",
        "payloadType": "jsonata",
        "x": 150,
        "y": 220,
        "wires": [["fusion1"]]
    },
    {
        "id": "status1",
        "type": "ui_text",
        "z": "f3",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Avoidance Status",
        "label": "Status",
        "format": "{{msg.payload.action}} - {{msg.payload.reason}}",
        "layout": "row-spread",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "chart1",
        "type": "ui_chart",
        "z": "f3",
        "name": "Distance Chart",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sensor Distances",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "x": 550,
        "y": 140,
        "wires": [[],[]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "f3",
        "name": "Fusion Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "override1",
        "type": "ui_switch",
        "z": "f3",
        "name": "Override Switch",
        "label": "Manual Override",
        "tooltip": "",
        "group": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control/override",
        "style": "",
        "onvalue": "override_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "override_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 320,
        "wires": [["avoid1"]]
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "f3",
        "name": "Obstacle Avoidance System",
        "info": "This flow demonstrates autonomous obstacle avoidance:\n\n1. **Sensor Fusion** - Combines multiple distance sensors\n2. **Obstacle Avoidance** - Generates motor commands to avoid obstacles\n3. **Motor Control** - Sends HAL commands to robot\n\nFeatures:\n- Advanced avoidance with backup capability\n- Manual override switch\n- Real-time sensor visualization\n- Configurable thresholds\n\nTo use with real sensors:\n- Replace inject nodes with actual sensor inputs\n- Configure NATS connection\n- Adjust thresholds for your robot",
        "x": 170,
        "y": 40,
        "wires": []
    }
]