packages/node-red-contrib-tafy/examples/teleop-control.json
[
    {
        "id": "f2",
        "type": "tab",
        "label": "Teleop Control",
        "disabled": false,
        "info": "Example flow showing different teleop control methods"
    },
    {
        "id": "gamepad1",
        "type": "tafy-gamepad-input",
        "z": "f2",
        "name": "Gamepad Control",
        "deadzone": 0.1,
        "pollInterval": 50,
        "controllerIndex": 0,
        "outputMode": "differential",
        "x": 350,
        "y": 100,
        "wires": [["motor1", "debug1"]]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "f2",
        "name": "Start Gamepad",
        "props": [{"p":"payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [["gamepad1"]]
    },
    {
        "id": "joystick1",
        "type": "tafy-joystick-ui",
        "z": "f2",
        "name": "Virtual Joystick",
        "size": 200,
        "returnToCenter": true,
        "outputMode": "differential",
        "deadzone": 0.1,
        "maxSpeed": 1.0,
        "x": 340,
        "y": 200,
        "wires": [["motor1", "debug2"]]
    },
    {
        "id": "keyboard1",
        "type": "tafy-keyboard-input",
        "z": "f2",
        "name": "Keyboard Control",
        "keyMap": "wasd",
        "outputMode": "differential",
        "speed": 0.5,
        "turnSpeed": 0.5,
        "acceleration": 0.1,
        "customKeys": {},
        "x": 350,
        "y": 300,
        "wires": [["motor1", "debug3"]]
    },
    {
        "id": "button1",
        "type": "ui_button",
        "z": "f2",
        "name": "Enable Keyboard",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Keyboard",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 300,
        "wires": [["keyboard1"]]
    },
    {
        "id": "motor1",
        "type": "function",
        "z": "f2",
        "name": "Motor Command",
        "func": "// Convert control input to HAL motor command\nconst input = msg.payload;\n\n// Create HAL command\nconst command = {\n    hal_major: 1,\n    hal_minor: 0,\n    schema: 'tafylabs/hal/motor/differential/1.0',\n    device_id: 'robot-main',\n    caps: ['motor.differential:v1.0'],\n    ts: new Date().toISOString(),\n    payload: {\n        left_speed: input.left || 0,\n        right_speed: input.right || 0,\n        duration_ms: 100 // Command timeout\n    }\n};\n\nreturn {\n    payload: command,\n    topic: 'hal.v1.motor.cmd'\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 200,
        "wires": [["nats1", "gauge1", "gauge2"]]
    },
    {
        "id": "nats1",
        "type": "tafy-nats-pub",
        "z": "f2",
        "name": "Publish to NATS",
        "server": "",
        "subject": "hal.v1.motor.cmd",
        "subjectType": "str",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "gauge1",
        "type": "ui_gauge",
        "z": "f2",
        "name": "Left Motor",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Left Motor",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": "-100",
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge2",
        "type": "ui_gauge",
        "z": "f2",
        "name": "Right Motor",
        "group": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Right Motor",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": "-100",
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "f2",
        "name": "Gamepad Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "f2",
        "name": "Joystick Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug3",
        "type": "debug",
        "z": "f2",
        "name": "Keyboard Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "f2",
        "name": "Multiple Input Methods",
        "info": "This flow demonstrates three different ways to control a robot:\n\n1. **Gamepad** - Physical game controller\n2. **Virtual Joystick** - On-screen touch/mouse control\n3. **Keyboard** - WASD or arrow keys\n\nAll three methods output differential drive commands that are converted to HAL motor commands and sent via NATS.",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "stop1",
        "type": "inject",
        "z": "f2",
        "name": "Emergency Stop",
        "props": [{"p":"payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"left\":0,\"right\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 400,
        "wires": [["motor1"]]
    }
]